@delete_button_color: red;
@edit_button_color: yellow;
@create_button_color: green;

button.delete_comment {
    background: @delete_button_color
}

button.edit_comment {
    background: @edit_button_color
}

button#create_comment {
    background: @create_button_color
}